.App {
    font-family: 'Mukta', sans-serif;
    background-color: white;
    box-sizing: border-box;
}
.App-black {
    font-family: 'Mukta', sans-serif;
    background-color: #1b1b32;
    color: #eeeef0;
}
.sign-reg-btn {
    background-color: #d92626;
    color: #eeeef0;
    border: 0;
    height: 20px;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    margin: auto;
}
